# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
.history/*

# misc
npm-debug.log
yarn-error.log

# System Files
.DS_Store
Thumbs.db

# dependencies
node_modules/
.yarn/

# compiled output
apps/**/dist
/tmp
/out-tsc

