body,
.force-light-theme {
  --main-bg-color: #ffffff;
  --main-accent-color: #0000ff;
  --main-accent-text-color: #ffffff;
  --main-text-color: #000000;
}

.force-dark-theme {
  --main-bg-color: #000000;
  --main-accent-color: #00008b;
  --main-accent-text-color: #ffffff;
  --main-text-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  body {
    --main-bg-color: #000000;
    --main-accent-color: #00008b;
    --main-accent-text-color: #ffffff;
    --main-text-color: #ffffff;
  }
}
